<header>
    <link rel="stylesheet" href="/stylesheets/authHeaderStyle.css">
    <nav>
        <div class="logo">
            <img src="/images/logo.png" width="70px" >
        </div>
        <div class="buttons">
            <a href="/auth/signin">Sign in</a> or 
            <a href="/auth/signup">Sign up</a>
        </div>
    </nav>
</header>