<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/authStyle.css">
    </head>
    <body>
        <%-include("./header.ejs")%>
        <div class="parent-container">
            <div class="container">
                <form method="POST" action="/auth/signin/submit" class="signup_form">
                    <div class="form_header">
                        <h1>Sign in</h1>
                        <p>Need to register? <a href="/auth/signup">Sign up</a></p>
                    </div>
                    <span style="color: red;"><%= msg %></span>
                    <label for="email">Email</label>
                    <input id="email" type="email" name="email">
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password">
                    <input type="submit" value="Sign in">
                </form>         
            </div>
        </div>
    </body>
</html>